/ is_need_speaking
/ is_accepted
/ is_rejected
/ is_working
/ is_not_interested
/ is_interested
/ is_priority

br
a.btn href="#{developers_path}" All

a.btn href="#{developers_path(q: { \
  is_delayed_not_eq: 'true', \
  is_working_not_eq: 'true', \
  is_rejected_not_eq: 'true', \
  is_accepted_not_eq: 'true', \
  is_interested_not_eq: 'true', \
  is_not_interested_not_eq: 'true', \
  is_need_speaking_not_eq: 'true' })}" Not reviewed

a.btn href="#{developers_path(q: { \
  is_delayed_not_eq: 'true', \
  is_working_not_eq: 'true', \
  is_rejected_not_eq: 'true', \
  is_accepted_not_eq: 'true', \
  is_interested_not_eq: 'true', \
  is_not_interested_not_eq: 'true', \
  is_need_speaking_eq: 'true', \
  is_contacted_eq: 'false'  })}" Need Speaking

a.btn href="#{developers_path(q: { \
  is_delayed_not_eq: 'true', \
  is_working_not_eq: 'true', \
  is_rejected_not_eq: 'true', \
  is_accepted_not_eq: 'true', \
  is_interested_not_eq: 'true', \
  is_not_interested_not_eq: 'true', \
  is_need_speaking_eq: 'true', \
  is_contacted_eq: 'true' })}" Pending Speaking

a.btn href="#{developers_path(q: { \
  is_delayed_not_eq: 'true', \
  is_working_not_eq: 'true', \
  is_rejected_not_eq: 'true', \
  is_accepted_eq: 'true', \
  is_interested_eq: 'true', \
  is_not_interested_not_eq: 'true', \
  is_need_speaking_eq: 'false' })}" Not yet working

