<%= link_to 'New Developer', new_developer_path, class: 'btn btn-success' %>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <th>#</th>
    <th>Name</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @developers.each do |d| %>
      <tr>
        <td><%= link_to d.id, edit_developer_path(d) %></td>
        <td><%= link_to d.name, edit_developer_path(d) %></td>
        <td><%= link_to 'Delete', developer_path(d), method: :delete, data: { confirm: 'Sure ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>