a.btn.btn-success href="#{new_developer_path}" New Developer
hr
table.table.table-striped.table-bordered.table-condensed
  thead
    th #
    th Info
    th Time as current company
    th Speciality
    th Technologies
    th Skills
    th Links
    th Notes
    th Need Speaking
    th Accepted
    th Rejected
    th Working at us
    th Not Interested
    th Date
    th Actions
  tbody
    - @developers.each do |d|
      tr
        td 
          = link_to d.id, edit_developer_path(d)
        td 
          = link_to d.name, edit_developer_path(d)
          = " (#{d.birthday})" if d.birthday.present?
          br
          = d.city
          br
          = d.current_position
          br
          = d.current_company
        td 
          = d.time_at_current_company
        td 
          = (d.speciality || []).delete_if(&:empty?).join(', ')
        td
          = d.technologies
        td
          = d.skills
        td
          - if d.linkedin.present?
            = link_to 'Linkedin', d.linkedin if d.linkedin.present?
            br
          - if d.github.present?
            = link_to 'Github', d.github
            br
          = d.other_links
        td
          p 
            = d.notes
          p
            = d.initial_speaking_notes
          p
            = d.tech_interview_notes
          p
            = d.vlad_notes
          p
            = d.test_assignment_notes
        
        th
          = d.is_need_speaking? ? 'yes' : ''
        th
          = d.is_accepted? ? 'yes' : ''
        th
          = d.is_rejected? ? 'yes' : ''
        th
          = d.is_working? ? 'yes' : ''
        th
          = d.is_not_interested? ? 'yes' : ''
        th
          = d.created_at.try(:strftime, '%d-%b-%Y')
          br
          = d.recommended_by
        td
          = link_to 'Delete', developer_path(d), method: :delete, data: { confirm: 'Sure ?' }, class: 'btn btn-danger'
