development:
  adapter: postgresql
  encoding: unicode
  database: headhunt_development
  pool: 5
  host: localhost
  username: rails
  password: rails

test:
  adapter: postgresql
  encoding: unicode
  database: headhunt_test
  pool: 5
  host: localhost
  username: rails
  password: rails

production:
  adapter: postgresql
  encoding: unicode
  database: headhunt_production
  pool: 5
  host: 127.0.0.1
  username: postgres